#dash {
    color: white;
    background-color: blue;
    margin: 1rem;
    padding: 5px;
}
.main-container{
    margin-bottom: 14rem;
}

button {
    display: flex;
    flex-direction: column;
    width: 11rem;
    /* align-items: start; */
}

#search-area {
    position: absolute;
    top: 3rem;
    left: 0;
}

#search-area, .buttons {
    margin-top: 3rem;
    margin-left: 0;
}

.cityButtons {
    position: absolute;
    top: 20rem;
    left: 0;
}

.display-container {
    max-width: 58vw;
    height: 15vh;
    margin-top: 3rem;
    margin-left: 20rem;
    border: 2px black solid;
    padding: 14px;
}

.center-container{
    margin-left: 20em;
    margin-bottom: 10rem;
}

.boxes {
    display: inline-block;
    color: white;
    background: darkblue;
    height: 10rem;
    width:  8rem;
    padding: 5px;
}









